footer{
  display: flex;
  gap:24px;
  padding-block:24px ;
  font: 14px/150% var(--font-family);
}

footer span:nth-child(1){ /*No footer a partir do primeiro filho que é o span joga para direita*/
  margin-right: auto;

}