/*Boa ratica sempre iniciar os projetos assim para o html estar tudo zeradinho*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Vamos utilizar a estratégia de variaveis*/
:root{
  --brand-color : #EF5F4C;
  --shape-transparency: #ffffff8f;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --text-color-primary : #313131;
  --text-color-secondary : #6C6C6C;

  --font-family: "Poppins", sans-serif;
          /*Weight/Size/LineHeight/type-font*/
  --text-lg: bold 32px/125% var(--font-family);
  --text-md: 14px/175% var(--font-family);
  --text-sm: 12px/175% var(--font-family);
  --text: 16px/150% var(--font-family)
}

body{
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none;/*Tira a cor do link azul padrão do navegador*/
  color: inherit;/*deixa a cor padrão do body*/
}

a:hover{
  color: var(--brand-color);
  text-decoration: underline;
}

.container{/*vou utilizar para dar uma margem nos elementos que utilizar esta classe */
  padding-inline: 32px; /**/
  max-width: 1280px;
  margin-inline: auto; /*para deixar automatico a distancia das 2 laterais*/
}

.bg-surface-color{
  background-color: var(--surface-color);
}
/* Amante de viagens, cultura e gastronomia. 🌍✈️ Aqui compartilho as histórias registradas em cada clique, explorando cantinhos fascinantes do nosso planeta a partir da movimentada cidade de São Paulo. 🏙️📸 */



